<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{body}">
<th:block layout:fragment="css">
    <link th:href="@{/css/FindMyPassword.css}" rel="stylesheet">

</th:block>

<div layout:fragment="content">
        <main>
            <div class="main">
                <div>임시비밀번호가 전송되었습니다.</div>
                <div><a href="/members/login"><button class="btn">로그인하러가기</button></a></div>
            </div>
        </main>
</div>
</html>