<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{body}">

<th:block layout:fragment="css">
  <link th:href="@{/css/SUB_Service.css}" rel="stylesheet">

</th:block>

<div layout:fragment="content">
  <main>
    <div class="backgraourd">
      <div class="Service">
        <h1>후원하기</h1>
        <div>"모든 생명은 보호받고 존중받을 권리가 있습니다" <br>
          MPC는 사람과 동물이 생태적·윤리적 조화를 이루며 살아가는<br> 세상을 만들기 위해 다방면에서 활동을 펼쳐가고 있습니다.
        </div>
      </div>
      <div class="line"></div>

      <div class="sponsor_box">
        <h3>개인정보</h3>

        <div class="sponsor">
          <div>
            <p>이름</p>
            <div>
              <input type="text">
            </div>
          </div>

          <div>
            <p>전화번호</p>
            <div>
              <input type="tel">
            </div>
          </div>

          <div>
            <p>이메일</p>
            <div>
              <input type="email">
            </div>
          </div>
        </div>
      </div>

      <div class="line_gray"></div>

      <div class="sponsor_box">
        <h3>후원정보</h3>

        <div class="sponsor">
          <div>
            <p>후원금액</p>
            <div class="choice">
              <div><p>30,000원</p></div>
              <div><p>50,000원</p></div>
              <div><p>100,000원</p></div>
              <div><p>300,000원</p></div>
              <input id="direct_amount" type="tel" name="direct_amount" placeholder="직접입력" role="presentation" class="step_list04_input onf" maxlength="11" autocomplete="off">
            </div>
          </div>
        </div>

      </div>

      <div class="line_gray"></div>

      <div class="sponsor_box">
        <h3>결재정보</h3>

        <div class="sponsor">
          <div>
            <p>결재수단</p>
            <div class="pay">
              <div><p>신용카드</p></div>
            </div>
          </div>

          <div>
            <p>카드번호</p>
            <div>
              <input type="text">
            </div>
          </div>

          <div>
            <p>유효기간</p>
            <div class="date">
              <input type="text" placeholder="MM">
              <input type="text" placeholder="YY">
            </div>
          </div>

          <div>
            <p>카드주명</p>
            <div>
              <input type="text">
            </div>
          </div>

          <div>
            <p>생년월일</p>
            <div>
              <input type="text" placeholder="주민번호 앞 6자리">
            </div>
          </div>

          <div>
            <p>비밀번호</p>
            <div>
              <input type="text" placeholder="비밀번호 앞 2자리">
            </div>
          </div>
        </div>
      </div>

      <div class="line_gray"></div>

      <div class="btn">
        <button>기부하기</button>
      </div>
    </div>
  </main>
</div>
</html>