#roundTitle {
  padding:5px 10px; text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#btnGameStart{
  width: 150px;
  font-size: 22px;
  background-color: #5eab5e49;
  border: 1px dotted gray;
}

.content.default, .content.in_game {
  width: 1000px;
  margin: 0 auto;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:500px;
  margin-bottom: 50px;
  box-shadow:inset 0px 0px 25px greenyellow;
}

.list_ideal {display:flex;justify-content:space-evenly}

.list_ideal li {
  width:30%;
  max-width:450px;
  min-width:320px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  justify-content:space-evenly
}

.list_ideal li a {
  display:block;
  width:100%;

}
.list_ideal li a:hover img{
  -webkit-filter: grayscale(100%);
  filter: gray;
}

.list_ideal li span {
  display:block;
  width: 100%;
  font-size: 22px;
  margin-bottom: 5px;
  text-align: center;
}

.list_ideal li span img {
  width:100%;
  height: 250px;
}