<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <footer>
        <div class="footer">
            <img th:src="@{/image/logo_img.png}" class="footer_img">
            <div class="footer_hea">
                <a href="#">DOGMARU</a>
                <a href="#">DOGMARU</a>
                <a href="#">DOGMARU</a>
            </div>

            <div class="footer_text">
                <p>대표자 양준영 , 김민구</p>
                <p>사업장 주소  대전광역시 동구 미남동 18-28 | 사업자번호  489-52-73609 </p>
                <p>전화 042-789-4395 | 팩스 042-789-4396 |  이메일 mpc@kakao.com</p>
                <p>개인정보관리담당자 김다혜</p>
            </div>
        </div>
    </footer>
</div>
</html>